body{
    background-color: rgba(89, 148, 242, 0.893);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    background-color: rgb(3, 7, 11);
}
/* p{
    color: rgb(101, 14, 11);
} */
h1{
    text-align: center;
    color: rgb(249, 243, 243);
    padding-top: 20px;
    padding-bottom: 50px;
    border: 4px solid white;
    
}
h2{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}
h4{
    text-align: center;
    font-weight: bolder;
}
#welcome{
    text-align: center;
}
h3{
    background-color: rgb(3, 7, 11);
    color: white;
    padding: 5px;
    margin-right: 500px;
}
.review{
    background-color: white;
    /* margin-left: 20px; */
    padding-right: 270px;
}
header{
    background-color: rgb(219, 210, 228);
    display: flex;
    justify-content: space-between;
    color: brown;
}
header ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 10%;
}
.logo, .nav-item a{
color: red;
}
.nav-item a:hover{
    /* color: black; */
    opacity: 0.6;
}
h1:hover{
    background-color: rgb(46, 53, 59);
    border: 2px solid rgb(8, 5, 176);
}
